fastapi
uvicorn
sqlalchemy==2.0.23
pydantic
python-multipart
google-generativeai
pyjwt
bcrypt
aiohttp
python-dotenv
slowapi
xgboost
scikit-learn
reportlab
matplotlib
pandas
numpy
joblib
email-validator
pytesseract
opencv-python
pdfplumber
apscheduler
